body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  line-height: 34px;
  height: 34px;
  margin: 4px;
  padding: 0;
}

.radiant-square {
  border: 4px solid #0a0;
  float: left;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.dire-square {
  border: 4px solid #a00;
  float: left;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.banned-square {
  border: 4px solid #444;
  float: left;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.Screen {
  background-color: #22f;
}

.game-info {
  margin-left: 20px;
  flex: 3;
}

.board-row {
  background: #eee;
  display: flex;
  justify-content: space-between;
  size: 95%;
  margin: 5px;
}

.hero-board {
  size: 100%;
  flex: 7;
}

.content {
  display: flex;
}
