body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.Screen {
  background-color: #22f;
}

.game-info {
  margin-left: 20px;
  flex: 3;
}

.board-row {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  size: 99%;
  margin: 2px;
}

.board-row > img {
  float: left;
  max-height: 28px;
  max-width: 20px;
  /*max-width: 5%;*/
  /*line-height: 34px;
  height: 34px;
  margin: 4px;*/
  padding: 0;
}

.square {
  border: 1px solid #999;
}

.radiant-square {
  border: 1px solid #0a0;
}

.dire-square {
  border: 1px solid #a00;
}

.banned-square {
  border: 1px solid #444;
  /*opacity: 0.6;*/
  filter: grayscale(100%);
}

.hero-board {
  size: 100%;
  flex: 7;
}

.content {
  display: flex;
}

.selected-button {
  background-color: #aaa;
}

.button {
  background-color: #eee;
}
